# VITE_API_URL=http://localhost:3001/v3
VITE_DISCORD_URL=https://discord.com/oauth2/authorize?client_id=875973118512988180&response_type=token&redirect_uri=http%3A%2F%2Flocalhost%3A5173%2F%23%2F%3F&scope=identify
# VITE_DISCORD_URL=https://discord.com/oauth2/authorize?client_id=875973118512988180&response_type=token&redirect_uri=https%3A%2F%2Ftournament.duelistsunite.org%2F%23%2F%3F&scope=identify
VITE_API_URL=https://duelistsunite.org/omega-web/v3